@use '../../styles/variables' as *;

.header {
    font-family: $main-font;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;

    &__logo {
        width: 145px;

        @media screen and (min-width: 1024px) {
            width: 210px;
        }
    }

    &__nav {
        display: flex;
        gap: 1rem;

        @media screen and (min-width: 1024px) {
            gap: 3rem;

        }

        &-link {
            text-decoration: none;
            color: black;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}